<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PAGroupViewsAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAB881271C0FDFD9002648BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB881401C0FDFD9002648BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB8814B1C0FDFD9002648BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
